

<footer>
    <ul>
        <a class="foot_link" href="/board"><i class="fas fa-home"></i></a>
        <a class="foot_link" href="/add"><i class="fas fa-plus"></i></a>
        <a class="foot_link" href="/"><i class="fas fa-user"></i></a>
    </ul>
</footer>
</body>
</html>

