
    
<%-include("partials/nav")%>
<main>
    <section class="feed" id="login">
        <article>
            <p>Ah, You must be logged in to access my friend</p>
            <a href="/auth/google">
              Login With Google
            </a>
        </article>
    </section>
    <section class="aside">
        <p>aside</p>
    </section>

</main>


<%-include("partials/footer")%>
